<main>
  <div class="container">
    <div class="row">
      <div id="theTarget">
        <div class="image1"></div>
        <div class="image2"></div>
        <div class="image3"></div>
        <div class="image4"></div>
        <div class="image5"></div>
      </div>
      <div class="wrapper">
          <div class="shiromi shiromi-body1"></div>
          <div class="shiromi shiromi-body2"></div>
          <div class="shiromi shiromi-body3"></div>
          <div class="shiromi shiromi-bridge shiromi-bridge1"></div>
          <div class="shiromi shiromi-bridge shiromi-bridge2"></div>
          <div class="shiromi shiromi-bridge shiromi-bridge3"></div>
          <div class="shiromi shiromi-bridge shiromi-bridge4"></div>
                
          <div class="kimi"></div>
          <div class="kimi-highlight kimi-highlight1"></div>
          <div class="kimi-highlight kimi-highlight2"></div>
          <div class="kimi-highlight kimi-highlight3"></div>
          <div class="kimi-highlight kimi-highlight4"></div>
                
          <div class="kimi-shadow kimi-shadow1"></div>
          <div class="kimi-shadow kimi-shadow2"></div>
          <div class="kimi-shadow kimi-shadow3"></div>
                
          <div class="shiromi-highlight shiromi-highlight1"></div>
          <div class="shiromi-highlight shiromi-highlight2"></div>
          <div class="shiromi-highlight shiromi-highlight3"></div>
          <div class="shiromi-highlight shiromi-highlight4"></div>
          <div class="shiromi-highlight shiromi-highlight5"></div>
          <div class="shiromi-highlight shiromi-highlight6"></div>
          <div class="shiromi-highlight shiromi-highlight7"></div>
                
          <div class="shiromi-shadow shiromi-shadow1"></div>
          <div class="shiromi-shadow shiromi-shadow2"></div>
          <div class="shiromi-shadow shiromi-shadow3"></div>
          <div class="shiromi-shadow shiromi-shadow4"></div>
          <div class="shiromi-shadow shiromi-shadow5"></div>
          <div class="shiromi-shadow shiromi-shadow6"></div>
          <div class="shiromi-shadow shiromi-shadow7"></div>
                
          <div class="hole hole1"></div>
          <div class="hole hole2"></div>
          <div class="hole hole3"></div>
          <div class="hole hole4"></div>
          <div class="hole hole5"></div>
          <div class="hole hole6"></div>
          <div class="hole hole7"></div>
          <div class="hole hole8"></div>
          <div class="hole hole9"></div>
          <div class="hole hole10"></div>
          <div class="hole hole11"></div>
          <div class="hole hole12"></div>
          <div class="hole hole13"></div>
          <div class="hole hole14"></div>
          <div class="hole hole15"></div>
          <div class="hole hole16"></div>
                
          <div class="koge koge1"></div>
          <div class="koge koge2"></div>
          <div class="koge koge3"></div>
          <div class="koge koge4"></div>
                
          <div class="dropshadow dropshadow1"></div>
          <div class="dropshadow dropshadow2"></div>
          <div class="dropshadow dropshadow3"></div>
      </div>
      <div class="top-message col-md-offset-3 col-md-6">
        <h1>
          welcome to
          <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
          <strong>Bookers</strong> !!
        </h1>
      </div>
    </div>
  </div>
</main>